.wrap {
	WIDTH: 1200px; MARGIN: 0px auto
}
.header {
	HEIGHT: 119px; BACKGROUND: #192026
}
.logo {
	HEIGHT: 119px; WIDTH: 278px; FLOAT: left; MARGIN-LEFT: 20px
}
.headet_r {
	
}
.header_r_t {
	FONT-SIZE: 12px; HEIGHT: 28px; WIDTH: 238px; BACKGROUND: #1e262d; FLOAT: right; COLOR: #fff; PADDING-RIGHT: 12px
}
.header_r_t_l {
	BORDER-RIGHT: #272f35 1px solid; WIDTH: 26px; FLOAT: left; FONT-WEIGHT: bold; TEXT-ALIGN: center; LINE-HEIGHT: 28px
}
.header_r_t A {
	FLOAT: left; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 28px; PADDING-RIGHT: 10px
}
.header_r_t A IMG {
	MARGIN-BOTTOM: -2px; MARGIN-RIGHT: 2px
}
.hiddendiv {
	DISPLAY: none
}
.tabdiv {
	HEIGHT: 649px
}
.conter_scroll_w {
	HEIGHT: 64px; WIDTH: 872px; FLOAT: left; MARGIN: 6px 0px 0px
}
.conter_scroll_bot {
	HEIGHT: 64px; WIDTH: 100%
}
.rollBox {
	OVERFLOW: hidden; HEIGHT: 64px; WIDTH: 100%; POSITION: relative
}
.rollBox .Cont {
	OVERFLOW: hidden; WIDTH: 832px; POSITION: absolute; LEFT: 20px
}
.rollBox .ScrCont {
	WIDTH: 10000000px
}
.rollBox .Cont .pic {
	OVERFLOW: hidden; HEIGHT: 64px; WIDTH: 104px; POSITION: relative; FLOAT: left; TEXT-ALIGN: center; DISPLAY: inline; LINE-HEIGHT: 64px
}
.rollBox .Cont .pic A IMG {
	MARGIN-TOP: 10px
}
.rollBox .Cont .pic A {
	FONT-SIZE: 14px; TEXT-DECORATION: none; HEIGHT: 64px; COLOR: #fff; DISPLAY: block; LINE-HEIGHT: 24px
}
.rollBox .Cont .a1.pic {
	BACKGROUND: url(../images/menubj.png) no-repeat left bottom
}
.rollBox .Cont .pic:hover {
	BACKGROUND: url(../images/menubj.png) no-repeat left bottom; COLOR: #fff
}
.rollBox #List1 {
	FLOAT: left
}
.rollBox #List2 {
	FLOAT: left
}
.img3 {
	CURSOR: pointer; HEIGHT: 20px; WIDTH: 20px; POSITION: absolute; LEFT: 0px; Z-INDEX: 9; TOP: 20px
}
.img4 {
	CURSOR: pointer; HEIGHT: 20px; WIDTH: 20px; RIGHT: 0px; POSITION: absolute; TOP: 20px
}
.center_side {
	HEIGHT: 800px; WIDTH: 140px; BACKGROUND: #404951; FLOAT: left; COLOR: #fff
}
.center_side LI {
	FONT-SIZE: 14px; HEIGHT: 50px; WIDTH: 120px; VERTICAL-ALIGN: middle; TEXT-ALIGN: left; PADDING-LEFT: 20px; LINE-HEIGHT: 50px
}
.center_side LI A {
	COLOR: #fff
}
.center_side LI:hover {
	BORDER-TOP-STYLE: none; CURSOR: pointer; HEIGHT: 50px; BACKGROUND: #fff; BORDER-BOTTOM-STYLE: none; COLOR: #333; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
.center_side LI:hover A {
	COLOR: #333
}
.center_side LI IMG {
	VERTICAL-ALIGN: middle; PADDING-RIGHT: 5px
}
.center_side LI IMG.img1 {
	DISPLAY: inline-block
}
.center_side LI IMG.img2 {
	DISPLAY: none
}
.center_side LI:hover IMG.img1 {
	DISPLAY: none
}
.center_side LI:hover IMG.img2 {
	DISPLAY: inline-block
}
.center_side LI.li1 {
	BORDER-TOP-STYLE: none; CURSOR: pointer; HEIGHT: 50px; BACKGROUND: #fff; BORDER-BOTTOM-STYLE: none; COLOR: #333; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
.center_side LI.li1 A {
	COLOR: #333
}
.center_side LI.li1 IMG.img1 {
	DISPLAY: none
}
.center_side LI.li1 IMG.img2 {
	DISPLAY: inline-block
}
.undis {
	DISPLAY: none
}
.center_r {
	WIDTH: 1060px; FLOAT: left
}
.center {
	HEIGHT: 555px
}
.center_r_t {
	HEIGHT: 49px; BACKGROUND: url(../images/titilebj.png) #ebeff0 no-repeat 20px 18px; BORDER-BOTTOM: #dcdcdc 1px solid; LINE-HEIGHT: 49px; TEXT-INDENT: 40px
}
.center_r_t A {
	COLOR: #000
}
.center_r_t .a1 {
	COLOR: #2486d7
}
.center_r_z {
	MARGIN: 20px 0px 20px 40px; LINE-HEIGHT: 24px
}
.center_r_z LABEL {
	FONT-SIZE: 12px; MARGIN: 0px 8px 0px 1px
}
.center_r_z .input1 {
	FONT-SIZE: 12px; BORDER-TOP: #d6d6d6 1px solid; HEIGHT: 24px; BORDER-RIGHT: #d6d6d6 1px solid; WIDTH: 115px; BORDER-BOTTOM: #d6d6d6 1px solid; COLOR: #999; BORDER-LEFT: #d6d6d6 1px solid
}
.center_r_z .ipticon {
	CURSOR: pointer; BORDER-TOP: #cfcfcf 1px solid; BORDER-RIGHT: #cfcfcf 1px solid; WIDTH: 115px; BACKGROUND: url(../images/date_icon.png) no-repeat 98% 50%; BORDER-BOTTOM: #cfcfcf 1px solid; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; BORDER-LEFT: #cfcfcf 1px solid; PADDING-RIGHT: 3px
}
.center_r_z .sub1 {
	CURSOR: pointer; FONT-SIZE: 12px; BORDER-TOP: #ffd181 1px solid; HEIGHT: 24px; FONT-FAMILY: "΢���ź�"; WIDTH: 48px; BACKGROUND: #ff8a4e; COLOR: #fff; TEXT-ALIGN: center; MARGIN: 0px 10px; LINE-HEIGHT: 22px
}
.btn2 {
	CURSOR: pointer; FONT-SIZE: 12px; TEXT-DECORATION: none; BORDER-TOP: #ddd 1px solid; HEIGHT: 24px; FONT-FAMILY: "΢���ź�"; BORDER-RIGHT: #ddd 1px solid; VERTICAL-ALIGN: middle; MIN-WIDTH: 52px; BORDER-BOTTOM: #ddd 1px solid; POSITION: relative; FONT-WEIGHT: normal; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 12px; MARGIN-LEFT: 10px; BORDER-LEFT: #ddd 1px solid; DISPLAY: inline-block; LINE-HEIGHT: 24px; PADDING-RIGHT: 12px; BACKGROUND-COLOR: #ef4f4f; border-radius: 2px
}
.center_r_z .choose {
	HEIGHT: 24px; WIDTH: 85px; COLOR: #999; LINE-HEIGHT: 24px
}
.center_r_z .choose2 {
	HEIGHT: 24px; WIDTH: 110px; COLOR: #999; MARGIN-LEFT: 8px; LINE-HEIGHT: 24px
}
.center_r_z .button1 {
	BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; HEIGHT: 24px; FONT-FAMILY: "΢���ź�"; BORDER-RIGHT-WIDTH: 0px; WIDTH: 85px; BACKGROUND: #ef4f4f; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; MARGIN-LEFT: 15px; LINE-HEIGHT: 22px; BORDER-TOP-WIDTH: 0px
}
.center_t {
	FONT-SIZE: 12px; WIDTH: 1010px; FLOAT: left; MARGIN-LEFT: 0px; TEXT-INDENT: 4px
}
.center_t TD {
	PADDING-BOTTOM: 6px; PADDING-TOP: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.center_t TD.td1 {
	TEXT-INDENT: 20px
}
.center_t TD.td2 {
	BORDER-RIGHT-STYLE: none
}
.center_t A {
	COLOR: #000; PADDING-RIGHT: 2px
}
.center_t_t {
	FONT-SIZE: 12px; BACKGROUND: #ebebeb; LINE-HEIGHT: 18px
}
.center_t_t TD {
	BORDER-RIGHT: #a1a4a5 1px solid
}
.center_t_d TD {
	FONT-SIZE: 12px; FONT-FAMILY: "����"; BORDER-BOTTOM: #c1d1dd 1px solid; LINE-HEIGHT: 22px
}
.center_t_d:hover {
	BACKGROUND: #2486d7; COLOR: #fff
}
.center_t_d:hover TD A {
	COLOR: #000
}
.paging {
	FONT-SIZE: 12px;  FLOAT: left; MARGIN: 15px 0px 0px 35px
}
.paging_l {
	FLOAT: left
}
.paging_l A {
	BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; BACKGROUND: #f1f1f1; BORDER-BOTTOM: #ddd 1px solid; FLOAT: left; COLOR: #333; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 6px; MARGIN-LEFT: 4px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 20px; PADDING-RIGHT: 6px
}
.paging_l A:hover {
	BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; BACKGROUND: #498ac3; BORDER-BOTTOM: #ddd 1px solid; FLOAT: left; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 6px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 20px; PADDING-RIGHT: 6px
}
.paging_l_c {
	FLOAT: left; MARGIN-LEFT: 30px; LINE-HEIGHT: 20px
}
.paging_l_c .input1 {
	BORDER-TOP: #ddd 1px solid; HEIGHT: 18px; BORDER-RIGHT: #ddd 1px solid; WIDTH: 28px; BACKGROUND: #f0f0f0; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center; MARGIN: 0px 5px; BORDER-LEFT: #ddd 1px solid
}
.paging_l_c SPAN {
	COLOR: #2486d7; MARGIN: 0px 5px
}
.foot {
	FONT-SIZE: 12px; WIDTH: 100%; FLOAT: left; TEXT-ALIGN: center; PADDING-TOP: 40px
}
.foot LI {
	LINE-HEIGHT: 22px
}
.brand {
	WIDTH: 398px; MARGIN-TOP: 10px
}
.brand LI {
	FONT-SIZE: 12px; FONT-FAMILY: "΢���ź�"; POSITION: relative; COLOR: #999; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 100px; MIN-HEIGHT: 36px; LINE-HEIGHT: 36px; PADDING-RIGHT: 0px
}
.brand LI LABEL {
	WIDTH: 88px; POSITION: absolute; COLOR: #333; TEXT-ALIGN: right; LEFT: 0px; LINE-HEIGHT: 36px; TOP: 0px
}
.brand LI .input1 {
	BORDER-TOP: #b8b8b8 1px solid; HEIGHT: 22px; BORDER-RIGHT: #b8b8b8 1px solid; WIDTH: 330px; BACKGROUND: #fafafa; BORDER-BOTTOM: #b8b8b8 1px solid; BORDER-LEFT: #b8b8b8 1px solid; LINE-HEIGHT: 22px; border-radius: 2px
}
.input2 {
	BORDER-TOP: #b8b8b8 1px solid; HEIGHT: 22px; BORDER-RIGHT: #b8b8b8 1px solid; WIDTH: 330px; BACKGROUND: #fafafa; BORDER-BOTTOM: #b8b8b8 1px solid; BORDER-LEFT: #b8b8b8 1px solid; LINE-HEIGHT: 22px; border-radius: 2px
}
.brand LI INPUT[type=radio] {
	VERTICAL-ALIGN: middle; MARGIN: 0px 3px
}
.brand LI .sub1 {
	CURSOR: pointer; BORDER-TOP: #ffd181 1px solid; HEIGHT: 26px; FONT-FAMILY: "΢���ź�"; WIDTH: 75px; BACKGROUND: #ff8a4e; RIGHT: -36px; POSITION: absolute; COLOR: #fff; TEXT-ALIGN: center; LINE-HEIGHT: 22px; TOP: 10px
}
.sub2 {
	CURSOR: pointer; BORDER-TOP: #ffd181 1px solid; HEIGHT: 26px; FONT-FAMILY: "΢���ź�"; WIDTH: 75px; BACKGROUND: #ff8a4e; RIGHT: 74px; COLOR: #fff; TEXT-ALIGN: center; LINE-HEIGHT: 22px
}
.brand .choose {
	HEIGHT: 24px; WIDTH: 82px; COLOR: #999; LINE-HEIGHT: 24px
}
.brand .choose2 {
	HEIGHT: 24px; WIDTH: 114px; COLOR: #999; MARGIN-LEFT: 8px; LINE-HEIGHT: 24px
}
.brand .choose3 {
	HEIGHT: 24px; WIDTH: 114px; RIGHT: -33px; POSITION: absolute; COLOR: #999; MARGIN-LEFT: 8px; LINE-HEIGHT: 24px; TOP: 6px
}
.video {
	FONT-SIZE: 12px; BORDER-TOP: #b8b8b8 1px solid; HEIGHT: 160px; BORDER-RIGHT: #b8b8b8 1px solid; WIDTH: 328px; BACKGROUND: #fafafa; BORDER-BOTTOM: #b8b8b8 1px solid; BORDER-LEFT: #b8b8b8 1px solid; LINE-HEIGHT: 22px; border-radius: 2px
}
.diary_top {
	HEIGHT: 29px; WIDTH: 394px; BACKGROUND: #82bde6; COLOR: #fff; MARGIN: 18px 0px 0px 42px; LINE-HEIGHT: 29px; TEXT-INDENT: 12px
}
.diary_top_l {
	HEIGHT: 29px; WIDTH: 150px; BACKGROUND: url(../images/diary.jpg) no-repeat; FLOAT: left; TEXT-INDENT: 18px
}
.diary_top_c {
	HEIGHT: 29px; WIDTH: 122px; BACKGROUND: url(../images/diary1.jpg) no-repeat; FLOAT: left; TEXT-INDENT: 6px
}
.diary .ipticon {
	BORDER-TOP: #cfcfcf 1px solid; BORDER-RIGHT: #cfcfcf 1px solid; WIDTH: 115px; BACKGROUND: url(../images/date_icon.png) no-repeat 98% 50%; BORDER-BOTTOM: #cfcfcf 1px solid; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; BORDER-LEFT: #cfcfcf 1px solid; PADDING-RIGHT: 3px
}
.diary {
	WIDTH: 608px; MARGIN-TOP: 10px
}
.diary LI {
	FONT-SIZE: 12px; FONT-FAMILY: "΢���ź�"; POSITION: relative; COLOR: #999; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 100px; MIN-HEIGHT: 36px; LINE-HEIGHT: 36px; PADDING-RIGHT: 0px
}
.diary LI LABEL {
	WIDTH: 88px; POSITION: absolute; COLOR: #333; TEXT-ALIGN: right; LEFT: 0px; LINE-HEIGHT: 36px; TOP: 0px
}
.diary LI .sub1 {
	CURSOR: pointer; BORDER-TOP: #ffd181 1px solid; HEIGHT: 26px; FONT-FAMILY: "΢���ź�"; WIDTH: 75px; BACKGROUND: #ff8a4e; RIGHT: -36px; POSITION: absolute; COLOR: #fff; TEXT-ALIGN: center; LINE-HEIGHT: 22px; TOP: 2px
}
.write_diary {
	FONT-SIZE: 12px; BORDER-TOP: #b8b8b8 1px solid; HEIGHT: 160px; BORDER-RIGHT: #b8b8b8 1px solid; WIDTH: 540px; BACKGROUND: #fafafa; BORDER-BOTTOM: #b8b8b8 1px solid; BORDER-LEFT: #b8b8b8 1px solid; LINE-HEIGHT: 22px; border-radius: 2px
}
.diary .tip {
	BORDER-TOP: #d6d6d6 1px solid; HEIGHT: 78px; BORDER-RIGHT: #d6d6d6 1px solid; WIDTH: 78px; BORDER-BOTTOM: #d6d6d6 1px solid; FLOAT: left; BORDER-LEFT: #d6d6d6 1px solid; MARGIN-RIGHT: 10px
}
.diary LI #personal .tabty {
	OVERFLOW: hidden; WIDTH: 544px
}
.diary LI #personal .tabty LI {
	CURSOR: pointer; HEIGHT: 36px; WIDTH: 68px; BORDER-BOTTOM: #adadad 1px solid; FLOAT: left; COLOR: #333; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; LINE-HEIGHT: 36px; PADDING-RIGHT: 0px
}
.diary LI #personal .tabty LI.currkt4 {
	BACKGROUND: url(../images/xhbj.jpg) no-repeat 50% bottom; COLOR: #ff6a30
}
.diary_t_d {
	WIDTH: 544px
}
.diary_t_d A {
	BORDER-TOP: #d6d6d6 1px solid; HEIGHT: 24px; BORDER-RIGHT: #d6d6d6 1px solid; WIDTH: 68px; BACKGROUND: #fafafa; BORDER-BOTTOM: #d6d6d6 1px solid; FLOAT: left; COLOR: #999; TEXT-ALIGN: center; MARGIN: 10px 9px 0px 0px; BORDER-LEFT: #d6d6d6 1px solid; DISPLAY: block; LINE-HEIGHT: 24px
}
.diary_t_d A:hover {
	BORDER-TOP: #ff6a30 1px solid; BORDER-RIGHT: #ff6a30 1px solid; BORDER-BOTTOM: #ff6a30 1px solid; COLOR: #ff6a30; BORDER-LEFT: #ff6a30 1px solid
}
.diary_t_d A.a1 {
	MARGIN-RIGHT: 0px
}


.center_t table th{ background:#cbe7ff; line-height:28px; text-indent:8px;}
.center_t table th a{ margin-left:8px;}

.required,.tab input{ FONT-SIZE: 12px; BORDER-TOP: #d6d6d6 1px solid; HEIGHT: 24px; BORDER-RIGHT: #d6d6d6 1px solid;  BORDER-BOTTOM: #d6d6d6 1px solid; COLOR: #999; BORDER-LEFT: #d6d6d6 1px solid}
.tab tr th { text-align: left;}
.center_t .tab { margin-top: 10px;}
