
/* input */
.ipt,.ipt1{border: solid 1px #d2d2d2;border-left-color: #ccc;border-top-color: #ccc;border-radius: 2px;box-shadow: inset 0 1px 0 #f8f8f8;background-color: #fff;padding: 4px 6px;height: 18px;line-height:16px;color: #555;width:164px;vertical-align: baseline;}
.ipt1{ width:100px;}
.verification{ margin-bottom:-7px; *margin-bottom:-3px;}
.m_l{ margin-left:24px;}
.m_l29{ margin-left:29px;}
.ipt-mini{width: 140px;padding: 1px 3px;}
.ipt:focus{border-color: #95C8F1;box-shadow: 0 0 4px #95C8F1;}
.choose1{ width:43px; height:24px; line-height:24px; color:#999;}
/* btn */
.btn{position: relative;cursor: pointer;display:inline-block;vertical-align:middle;font-size: 12px;font-weight: bold;height: 24px;line-height:24px;min-width: 52px;padding: 0 12px;text-align:center;text-decoration: none;border-radius: 2px;border:1px solid #ddd;color:#666;background-color:#ef4f4f; margin-left:10px; font-family:"微软雅黑"; font-weight:normal;}
input.btn{height:29px;}
.btn:hover {border-color:#c6c6c6;color:#333;background-color:#f8f8f8;}
.btn:active,.btn.btn-active {box-shadow:#ddd 0 1px 2px 0 inset;border-color:#c6c6c6;}
.btn:focus {border-color:#4d90fe;outline:none}
.btn-primary{color:#F3F7FC;background-color:#ef4f4f;}
.btn-primary:hover{color:#fff;background-color: #ef4f4f;background: -webkit-linear-gradient(top, #ef4f4f,#ef4f4f);background: -moz-linear-gradient(top, #ef4f4f,#ef4f4f);background: linear-gradient(top, #4D90FE,#ef4f4f);}
.btn-primary:active,.btn-primary.btn-active {box-shadow:#2176D3 0 1px 2px 0 inset;border-color: #3079ED;}
.btn-primary:focus {border-color:#4d90fe;outline:none}
/**/
.theme-buy{margin-top:10%;text-align: center;}
.theme-gobuy,.theme-signin{font-size: 15px;}
.theme-price{position: relative;bottom: -6px;font-family: microsoft yahei,Arial, Helvetica, sans-serif;margin-right: 20px;font-weight: bold;color: #f60;line-height: 32px;font-size: 24px;display: inline-block;}
.theme-price dfn{font-style: normal;font-size: 18px;margin-right: 2px;}
.theme-desc{padding: 30px;}
.theme-version{padding: 30px;}
.theme-popover-mask{z-index:9998;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.4;filter:alpha(opacity=40);display:none}
.theme-popover{z-index:9999;position:fixed;top:50%;left:60%;width:390px;margin:-200px 0 0 -330px;background-color:#fff;display:none;box-shadow: 0 0 10px #666; height:530px; *height:560px;}
.theme-poptit{padding:12px;position: relative;}
.theme-poptit h3{ font-size:16px; font-weight:normal; font-family:"微软雅黑";}
.theme-popbod{color:#444;height:148px;}
.theme-popbom{padding:15px;background-color:#f6f6f6;border-top:1px solid #ddd;border-radius:0 0 5px 5px;color:#666}
.theme-popbom a{margin-left:8px}
.theme-poptit .close{float:right;color:#999;padding:5px;margin:-2px -5px -5px;font:bold 14px/14px simsun;text-shadow:0 1px 0 #ddd}
.theme-poptit .close:hover{color:#444;}
.btn.theme-reg{position: absolute;top: 8px;left: 43%;display: none}
.inp-gray,.feed-mail-inp{border:1px solid #ccc;background-color:#fdfdfd;width:220px;height:16px;padding:4px;color:#444;margin-right:6px}
.dform{text-align: center;overflow:scroll; height: 478px;}
.dform .ipt_error{background-color:#FFFFCC;border-color:#FFCC66}
.dform-tip{display:none;background-color:#080;color:#fff;line-height:42px;margin-top:10px;display:;font-size: 14px;}
.dform-tip-errer{background-color: #CF301A;}
.dform-tip a{display: inline-block;padding: 0 20px;margin-left:10px;background-color: #FFE924;color: #CF301A;}
.dform-login{padding:0;height: 270px;overflow: hidden;}
.dform-login iframe{margin-top: -180px;}
.theme-signin{margin: -50px -20px -50px 10px;text-align:left;font-size: 14px;}
.theme-signin h4{color:#999;font-weight:100;margin-bottom: 20px;font-size: 12px;}
.theme-signin li{padding-left:25px;margin-bottom:7px; width:247px;}
.theme-signin li strong{float: left;margin-left: -80px;width: 80px;text-align: right;line-height: 32px;}
.theme-signin .btn{margin-bottom: 10px;}
.theme-signin p{font-size: 12px;color: #999;}
.theme-desc,.theme-version{padding-top: 0}
